version: "3.8"
x-app: &app
  build:
    context: .
    dockerfile: Dockerfile
  volumes:
    - ".:/var/www/html"
  depends_on:
    - db
  # tmpfs:
  #   - /tmp
  # networks:
  #   - netcrud
  # stdin_open: true
  # tty: true

services:
  web:
    container_name: web
    <<: *app
    ports:
      - "8000:80"
    networks:
      - netcrud

  db:
    container_name: db
    image: mysql:8-debian
    volumes:
      - "db-data:/var/lib/mysql"
      - "./app/Database/crud.sql:/docker-entrypoint-initdb.d/crud.sql"
    # build: ./db
    # volumes:
    #   - "db-data:/var/lib/mysql"
    environment:
      - MYSQL_ROOT_PASSWORD=abc123
    networks:
      - netcrud
    ports:
      - 3306:3306

volumes:
  db-data:
    driver: local

networks:
  netcrud:
    # driver: bridge